:root {
--color-primary:#D7DBFF;
--color-secondary:#8B8B8B;
--color-accent: #FF64AE;
--color-input:#d9ddfd;
--color-heading:#0D165C;
--color-background:#E5E5E5;
--color-textdark:#091156;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    
    font-family: "Poppins", sans-serif;
    text-align: center;
    
     
  }

li {
    list-style-type: none;
    text-align: justify;
}

a {
    text-decoration: none;
}

.container {
    max-width: 133rem;
    margin: 0 auto;
}

/* ---Professional Teams--- */

/* text */

.teams {
    text-align: center;
    padding-top: 5rem;
}

.teams__subject {
   font-size: 1.6rem;
   font-weight: 600; 
   color: var(--color-accent);
}

.teams__title {
   font-size: 3.6rem;
   line-height: 4.5rem;
   font-weight: 600; 
   color: var(--color-textdark);
   margin-top: 0.7rem;
}

.teames__desc {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 3rem;
    letter-spacing: 0.1rem;
    color: var(--color-secondary);
}
    
/* Box */

.expert {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}

.boxes {
    width: 42rem;
    height: 62rem;
    border-radius: 1px solid #F7F7FF;
    
}

.boxes__img {
    margin-top: 7.5rem;
}

.box-section-mid {
    background-color: #ffffff;
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    border-radius: 4.2rem;
}

.boxes__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--color-accent);
    margin-top: 4rem;
    text-align: center;
}

.boxes__name {
    font-weight: 600;
    color: var(--color-textdark);
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1.2rem;
}

.boxes__desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.1rem;
    color: var(--color-secondary);
    width: 27rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.socialmedia {
    margin-top: 6rem;
}

 .socialmedia__icon i {
    margin: 1.5rem;
    width: 4.5rem;
    height: 4.4rem;
    font-size: 3rem;
    line-height: 4rem;
    
    background: #fff;
    box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
    border-radius: 50%;
    color: var(--color-textdark);
    
}

 
/* section two */
 
.contact {
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    height: 90rem;
    margin-top: -3rem !important;
}

.desc-img {
    margin-left: -90rem !important;
    margin-top: 25rem !important;
}



 .contact-us {
     font-family: 'Poppins';
     font-size: 1.6rem;
     line-height: 2rem;
     font-weight: 600;
     color: var(--color-accent);
     margin-bottom: 2rem;
 }

 .text-send {
     font-family: 'Poppins';
     font-size: 3.6rem;
     line-height: 4.5rem;
     font-weight: 600;
     text-align: center;
     width: 35rem;
     margin: 0 auto;
     margin-bottom: 3rem;
     color: var(--color-textdark);

 }

 .text-para {
     font-family: 'Poppins';
     font-weight: 400;
     font-size: 1.6rem;
     line-height: 2.4rem;
     letter-spacing: 10%;
     color: var(--color-secondary);
 }


.text-us {
  margin-top: -65rem !important;
  margin-left: 30rem !important;

}



 /* input */

.title {
     margin-top: -60rem;
     margin-left: 40rem;
 }


 input {
    width: 24rem;
    height: 6.1rem;
    border-radius: 1.5rem;
    border: 1px solid #D7DBFF;
    padding: 1rem 5rem;
    outline: 0;
    color: var(--color-input);
    margin-bottom: 2.5rem;
    margin-inline: 2rem;
 }
 


::placeholder {
    color: #cdcbd7;
}


.input-boxtwo {
   width: 52rem;
   height: 6.2rem;
}

 .input-boxtree {
    width: 53rem;
    height: 24.3rem;
}

.button-style {
    border: 1px solid #f3f3f3;
    box-shadow: 0px 17px 22px #FFEDF6;
    background: var(--color-accent);
    padding: 2rem;
    border-radius: 5rem;
    outline: 0;
    height: 5.8;
    width: 24.8rem;
    color: #f3f3f3;
    padding-bottom: 2rem;
}

.button-style:hover {
   background-color: var(--color-primary);
   cursor: pointer;
}



/* Footer */
.footer {
    background-image: url(image/back5.jpg);
    background-repeat: no-repeat;
    height: 70rem;
    background-size: cover;
    margin-top: 9rem;;

}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    padding-top: 23rem;
}

.footer__logo {
    margin-left: 5rem !important;
    
}

b {
    font-size: 1.8rem;
    color: #f3f3f3;
    font-family: 'Poppins';
}

.text-style {
    margin-top: 2rem !important;
    font-size: 1.6rem;
    font-family: 'Poppins';
}


.footer__address {
 margin-top: 2rem;
 font-size: 1.4rem;
}
.footer__tel {
margin-top: 0.5rem;
color: var(--color-primary);
padding: 2rem;
font-size: 1.4rem;
}
.footer__mail {
  margin-top: 0.5rem;
  color: var(--color-primary);
  padding: 2rem;
  font-size: 1.4rem;
}


.footer__pages {
   color: var(--color-primary);
}

.footer__down {
    margin-top: 14rem;
    display: flex;
    justify-content: space-between;
}

.pages__title {
color: #ffffff;
font-size: 1.8rem;
font-weight: 600;
line-height: 2.7rem;
letter-spacing: 10%;
font-family: 'Poppins';
margin-bottom: 2rem !important;
}


.pages__link {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-family: 'Poppins';
    line-height: 2.4rem;
    font-weight: 400;
    letter-spacing: 10%;
    margin-bottom: 2rem !important;
    
}

.footer__information .list {
   
}


.info-style {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  letter-spacing: 10%;
  font-family: 'Poppins';
  margin-bottom: 2rem !important;
}

.pages_link2{
    color: var(--color-primary);
    font-size: 1.6rem;
    font-family: 'Poppins';
    line-height: 2.4rem;
    font-weight: 400;
    letter-spacing: 10%;
    margin-bottom: 2rem !important;
    
    
}

.footer__right {
   font-size: 1.6rem;
   font-family: 'Poppins';
   font-weight: 400;
   line-height: 2.4rem;
   letter-spacing: 10%;
   text-align: center; 
   color: var(--color-primary);
   margin-right: -16rem !important;
}


.last-part {
    margin-left: 20rem !important;
    
}

.flash-up {
    margin-left: -25px;
    text-align: center;
     width: 20px;
   
}

.flash-left {
  
}




/* 
 .footer .footer-logo { 
   width: 30rem;
   height: 5rem;
   margin-top: 10rem;

}

  .text-footer {
    font-size: 1.6rem;
    font-family: 700;
    line-height: 1.4rem;
    font-family: 'Poppins';
    color: var(--color-primary);
    letter-spacing: 2px;
    margin-left: 10rem;
    width: 300px;
    text-align: center;

}

b {
    font-size: large;
    color: #f3f3f3;
}

.text-style-one {
    width: 50rem;
    margin-top: 2rem;
}



.footer a {
    color: var(--color-primary);
    transition: color 0.3s;
}

.footer a:hover {
    color: #8B8B8B;
}



.page-style {
    padding-bottom: 2rem;
}

.footer-pages{
    color: var(--color-primary);
    font-size:1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 10%;
    margin-left: 80rem;
    font-family: 'Poppins';

}

 
.info-style {
    padding-bottom: 2rem;
    margin-top: -16rem;
}

.footer-information {
    color: var(--color-primary);
    font-size:1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 10%;
    margin-top: -30rem;
    margin-left: 100rem;
    font-family: 'Poppins';
}


.img-logo {
 width: 26rem;
 height: 8rem;
 margin-top: 80px;
 margin-left: 10rem;
 padding-bottom: 2rem;
   
}

.footer-copyright {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins';
    letter-spacing: 10%;
    margin-left: 90rem;
    margin-top: 2rem;
    width: 35rem;
    color: var(--color-primary);
    
} */



 /* Footer icons */

 .wrapper {
     display: flex;
     margin-top: 4rem !important;
     margin-left: 20rem !important;
     
      }

 .wrapper .icon {
     margin: 0 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: relative;
     z-index: 2;
     cursor: pointer;
     color: var(--color-textdark);
 }
 .wrapper .icon span {
     position: relative;
     height: 60px;
     width: 60px;
     display: block;
     background: #fff;
     border-radius: 50%;
     z-index: 2;
     text-align: center;
     box-shadow:0 10px 10px rgba(0, 0, 0,0.1);
 }
 .wrapper .icon:hover span i {
     color: #fff;

 }

 .wrapper .icon span i {
     font-size: 25px;
     line-height: 60px;

 }
 .wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow:0 10px 10px rgba(0, 0, 0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

   

 .wrapper .icon .tooltip::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    
}
 

 .wrapper .icon:hover span,
 .wrapper .icon:hover .tooltip {
     text-shadow: 0px -1px 0px rgba(0, 0, 0,0.4);
 }

 .wrapper .facebook:hover span,
 .wrapper .facebook:hover .tooltip,
 .wrapper .facebook:hover .tooltip::before{
     background: #3B5999;
 }

 .wrapper .twitter:hover span,
 .wrapper .twitter:hover .tooltip,
 .wrapper .twitter:hover .tooltip::before{
     background: #46C1F6;
 }

 .wrapper .youtube:hover span,
 .wrapper .youtube:hover .tooltip,
 .wrapper .youtube:hover .tooltip::before{
     background: #DE463B;
 }

 .wrapper .instagram:hover span,
 .wrapper .instagram:hover .tooltip,
 .wrapper .instagram:hover .tooltip::before{
     background: #e1306c;
 }


 .fa-caret-right:before {
    content: "\f0da";
    margin-right: 1rem;
}


 
 

