:root {
--color-primary:#D7DBFF;
--color-secondary:#8B8B8B;
--color-accent: #FF64AE;
--color-input:#d9ddfd;
--color-heading:#0D165C;
--color-background:#E5E5E5;
--color-textdark:#091156;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    
    font-family: "Poppins", sans-serif;
    text-align: center;
    
     
  }



a {
    text-decoration: none;
}

/* text */

.tittle-desc {
    text-align: center;
    font-family: 'Poppins';
    padding-top: 5rem;
}

.core-teams {
   font-size: 1.6rem;
   line-height: 2rem;
   font-weight: 600; 
   color: var(--color-accent);
}

.core-text {
   font-size: 3.6rem;
   line-height: 4.5rem;
   font-weight: 600; 
   color: var(--color-textdark);
}

.core-paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 20%;
    color: var(--color-secondary);


}

      
/* Box */

.main {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10rem;
}

.boxes {
    width: 27rem;
    height: 43.9rem;
    border-radius: 1px solid #F7F7FF;
}

.box-section-mid {
    width: 30rem;
    height: 50rem;
    background-color: #ffffff;
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    border-radius: 4.2rem;
}

.box-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--color-accent);
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.box-contact {
   font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    line-height: 2rem;
    color: var(--color-textdark);
    padding-bottom: 2rem;
}

.box-paragraph {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 10%;
    color: var(--color-secondary);
}

.social-media {
    margin-top: 5rem;
    
}

 .boxes .icon i {
    margin: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    line-height: 4rem;
    text-align: center;
    background:#fff;
    box-shadow:0 10px 10px rgba(0, 0, 0,0.1) ;
    border-radius: 50%;
    color: var(--color-textdark);
}

 
/* section two */
 
.contact {
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    height: 90rem;
}

.desc-img {
    margin-right: 80rem;
    margin-top: 25rem;
}



 .contact-us {
     font-family: 'Poppins';
     font-size: 1.6rem;
     line-height: 2rem;
     font-weight: 600;
     color: var(--color-accent);
     margin-bottom: 2rem;
 }

 .text-send {
     font-family: 'Poppins';
     font-size: 3.6rem;
     line-height: 4.5rem;
     font-weight: 600;
     text-align: center;
     width: 45rem;
     margin: 0 auto;
     margin-bottom: 3rem;
     color: var(--color-textdark);
 }

 .text-para {
     font-family: 'Poppins';
     font-weight: 400;
     font-size: 1.6rem;
     line-height: 2.4rem;
     letter-spacing: 10%;
     color: var(--color-secondary);
 }



 /* input */

.title {
     margin-top: -50rem;
     margin-left: 50rem;
 }


 input {
    width: 24rem;
    height: 6.1rem;
    border-radius: 1.5rem;
    border: 1px solid #D7DBFF;
    padding: 1rem 5rem;
    outline: 0;
    color: var(--color-input);
    margin-bottom: 2.5rem;
    margin-inline: 2rem;
 }
 


::placeholder {
    color: #cdcbd7;
}


.input-boxtwo {
   width: 52rem;
   height: 6.2rem;
}

 .input-boxtree {
    width: 53rem;
    height: 24.3rem;
}

.button-style {
    border: 1px solid #f3f3f3;
    box-shadow: 0px 17px 22px #FFEDF6;
    background: var(--color-accent);
    padding: 2rem;
    border-radius: 5rem;
    outline: 0;
    height: 5.8;
    width: 24.8rem;
    color: #f3f3f3;
    padding-bottom: 2rem;
}

.button-style:hover {
   background-color: var(--color-primary);
   cursor: pointer;
}

/* footer */

.footer-back {
    height: 70rem;
    margin-top: 4rem;
}

 
.footer-container {
    display: flex;
    
}

.footer-logo {
   width: 30rem;
   height: 5rem;
}




/* Footer */




/*.back-style {
   position: absolute;
   top: 1400px;
   left: -2px;
    
}


.back-style-two {
    position: absolute;
    top: 1400px;
    left: -5px;
}



 .logo-style img {
     position: absolute;
     left: 100px;
     top: 1600px; 
     width: 300px;
     
 }

 .logo-style:hover {
     cursor: pointer;
 }


 .text-style-footer {
     position: absolute;
     top: 1730px;
     left: 150px;
 }

 .text-style-footer h5 {
     color: var(--color-primary);
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 2px;
     font-family: 'poppins'sans-serif;
     margin-bottom: 30px;
 }

 .address-style {
     color: var(--color-input);
     font-family: 'poppins'sans-serif;
     letter-spacing: 3px;
     font-size: 10px;
 }

 .address-style a {
     padding: 20px;
     color: var(--color-primary); 
 }

 

 /* Footer icons */

 /*.wrapper {
     display: inline-flex;
     position: absolute;
     top: 250px;
     left: 100px;
 }

 .wrapper .icon {
     margin: 0 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: relative;
     z-index: 2;
     cursor: pointer;
 }
 .wrapper .icon span {
     position: relative;
     height: 60px;
     width: 60px;
     display: block;
     background: #fff;
     border-radius: 50%;
     z-index: 2;
     text-align: center;
     box-shadow:0 10px 10px rgba(0, 0, 0,0.1);
 }
 .wrapper .icon:hover span i {
     color: #fff;

 }

 .wrapper .icon span i {
     font-size: 25px;
     line-height: 60px;

 }
 .wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow:0 10px 10px rgba(0, 0, 0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

   

 .wrapper .icon .tooltip::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    
}
 

 .wrapper .icon:hover span,
 .wrapper .icon:hover .tooltip {
     text-shadow: 0px -1px 0px rgba(0, 0, 0,0.4);
 }

 .wrapper .facebook:hover span,
 .wrapper .facebook:hover .tooltip,
 .wrapper .facebook:hover .tooltip::before{
     background: #3B5999;
 }

 .wrapper .twitter:hover span,
 .wrapper .twitter:hover .tooltip,
 .wrapper .twitter:hover .tooltip::before{
     background: #46C1F6;
 }

 .wrapper .youtube:hover span,
 .wrapper .youtube:hover .tooltip,
 .wrapper .youtube:hover .tooltip::before{
     background: #DE463B;
 }

 .wrapper .instagram:hover span,
 .wrapper .instagram:hover .tooltip,
 .wrapper .instagram:hover .tooltip::before{
     background: #e1306c;
 }



 
 /* sections */

 /*.section-one {
     position: absolute;
     left: 700px;
     top: -30px;
     font-size: 12px;
     font-family: 'Poppins' sans-serif;
     color: var(--color-primary);
     
     
     
 }

 .section-two  {
    position: absolute;
    left: 1000px;
    top: -30px;
    font-size: 12px;
    font-family: 'Poppins' sans-serif;
    color: var(--color-primary);
    
    
   
    
}

.section-one  h2 {
    font-size: 18px;
    font-family: 'Poppins' sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    margin: 10px;  
}

.section-one  h2:hover {
    color: var(--color-secondary);
    cursor: pointer;
}

.section-two  h2 {
    font-size: 18px;
    font-family: 'Poppins' sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    margin: 15px;
    text-align: center;
}

.section-two  h2:hover {
    color: var(--color-secondary);
    cursor: pointer;

}


 .fa-caret-right  { 
  position: absolute;
  left: -8px;
  text-align: center;
  
}


h4 {
    color: var(--color-primary);
    font-family: 'Poppins' sans-serif;
    font-size: 10px;
    letter-spacing: 3px;
    padding: 4px;   
}

.section-one h4:hover {
    color: var(--color-secondary);
    cursor: pointer;
}


.section-two h4:hover {
    color: var(--color-secondary);
    cursor: pointer;
}


.text-style-footer h5:hover {
    color: var(--color-secondary);
    cursor:pointer;


.button-pink {
    position: absolute;
    left: 1200px;
    top: 200px;
}

.button-pink:hover {
  color:var(--color-primary);
  cursor: pointer;
}


.flash-up {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.paragraph-footer {
    position: absolute;
    left: 700px;
    top: 270px;
    text-align: justify;
    text-indent: 1000px;
    color:var(--color-primary);
    font-size: 10px;
    letter-spacing: 2px;
}

